In [1]:
import pandas as pd
df1 = pd.DataFrame({'item':['i01','i02','i03','i04','i05'],'cid':['c05','c12','c02','c02','c03']})
df1

   cid item
0  c05  i01
1  c12  i02
2  c02  i03
3  c02  i04
4  c03  i05

In [2]:
df2 = pd.DataFrame({'cid':['c01','c02','c03','c04','c05'],'num_products':[2,3,12,5,8]})
df2

   cid  num_products
0  c01             2
1  c02             3
2  c03            12
3  c04             5
4  c05             8

### inner join (default)

In [3]:
pd.merge(df1,df2, left_on='cid', right_on='cid', how='inner')

   cid item  num_products
0  c05  i01             8
1  c02  i03             3
2  c02  i04             3
3  c03  i05            12

### outer join

In [4]:
pd.merge(df1,df2, left_on='cid', right_on='cid', how='outer')

   cid item  num_products
0  c05  i01           8.0
1  c12  i02           NaN
2  c02  i03           3.0
3  c02  i04           3.0
4  c03  i05          12.0
5  c01  NaN           2.0
6  c04  NaN           5.0

### left join

In [5]:
pd.merge(df1,df2, left_on='cid', right_on='cid', how='left')

   cid item  num_products
0  c05  i01           8.0
1  c12  i02           NaN
2  c02  i03           3.0
3  c02  i04           3.0
4  c03  i05          12.0

### right join

In [6]:
pd.merge(df1,df2, left_on='cid', right_on='cid', how='right')

   cid item  num_products
0  c05  i01             8
1  c02  i03             3
2  c02  i04             3
3  c03  i05            12
4  c01  NaN             2
5  c04  NaN             5