### 1. 創建

In [1]:
import pandas as pd

#pd.DataFrame({'column name1':list/Series,'column name2':list/Series...})
df1 = pd.DataFrame({'cid':['c01','c02','c03','c04','c05'],'time_spent':[23,41,342,97,456]}) 

#可自訂index
#df1 = pd.DataFrame({'cid':['c01','c02','c03','c04','c05'],'time_spent':[23,41,342,97,456]},index=['a','b','c','d','e']) 
df1

   cid  time_spent
0  c01          23
1  c02          41
2  c03         342
3  c04          97
4  c05         456

In [2]:
# JSON list
df3 = pd.DataFrame([{'cid':'c02','num_products':2},{'cid':'c03','num_products':3},{'cid':'c04','num_products':6}])
df3

   cid  num_products
0  c02             2
1  c03             3
2  c04             6

### 2. 取值

In [3]:
# get one column
df1['time_spent'] #Series
# 同 df1.time_spent

0     23
1     41
2    342
3     97
4    456
Name: time_spent, dtype: int64

In [4]:
# get multiple columns
df1[['cid','time_spent']] #DataFrame

   cid  time_spent
0  c01          23
1  c02          41
2  c03         342
3  c04          97
4  c05         456

In [5]:
# get rows : [i,j] from index i to index j
df1[0:2]

   cid  time_spent
0  c01          23
1  c02          41

In [6]:
# 根據指定條件取值
df1[df1['time_spent']>100]

   cid  time_spent
2  c03         342
4  c05         456

### 3. 新增

In [7]:
# 新增一欄
df1['num_products'] = [2,3,1,6,7]
df1

   cid  time_spent  num_products
0  c01          23             2
1  c02          41             3
2  c03         342             1
3  c04          97             6
4  c05         456             7

In [8]:
# 新增列：append DataFrame（若新增的欄位不存在，會自動新增欄位）
df1 = df1.append(pd.DataFrame([{'cid':'c06','time_spent':231,'num_products':3}])).reset_index(drop=True)  
# append後記得要再assign回去
# reset_index(drop=True) 重置index，要不然index會維持新增DataFrame的index（0,1,2,3,4,5,0）
df1

   cid  num_products  time_spent
0  c01             2          23
1  c02             3          41
2  c03             1         342
3  c04             6          97
4  c05             7         456
5  c06             3         231

### 4. 修改

In [9]:
# 修改欄位名稱 : rename(columns = {old column name mapping to new column name})
df1 = df1.rename(columns = {'cid':'pid','num_products':'num_purchase'})
df1

   pid  num_purchase  time_spent
0  c01             2          23
1  c02             3          41
2  c03             1         342
3  c04             6          97
4  c05             7         456
5  c06             3         231

In [10]:
# 修改列內容
df1[0:1] = pd.DataFrame([{'pid':'c07','time_spent':31,'num_purchase':1}])
df1

   pid  num_purchase  time_spent
0  c07             1          31
1  c02             3          41
2  c03             1         342
3  c04             6          97
4  c05             7         456
5  c06             3         231

### 5. 刪除

In [11]:
# 刪除欄 : del
del df1['pid']
df1

   num_purchase  time_spent
0             1          31
1             3          41
2             1         342
3             6          97
4             7         456
5             3         231

In [12]:
# 刪除欄 : drop（方法2），要特別標注 axis = 1 表示刪除的是欄不是列
df1 = df1.drop('time_spent',axis = 1)
df1

   num_purchase
0             1
1             3
2             1
3             6
4             7
5             3

In [13]:
# 列:drop(index list)
df1 = df1.drop([1,2])
df1

   num_purchase
0             1
3             6
4             7
5             3

In [14]:
# Reset Index
df1 = df1.reset_index(drop=True)
df1

   num_purchase
0             1
1             6
2             7
3             3